[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/jacob-hochstrasser
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jacob-hochstrasser
	label-Verified = -1..+1 group user/jacob-hochstrasser
	push = group user/jacob-hochstrasser
	read = group user/jacob-hochstrasser
	rebase = group user/jacob-hochstrasser
	removeReviewer = group user/jacob-hochstrasser
	submit = group user/jacob-hochstrasser
[access "refs/heads/*"]
	create = group user/jacob-hochstrasser
	push = +force group user/jacob-hochstrasser
	pushMerge = group user/jacob-hochstrasser
	read = group user/jacob-hochstrasser
[access "refs/tags/*"]
	push = group user/jacob-hochstrasser
	push = +force group user/jacob-hochstrasser
